
/* Boton viejo */
.btn-game {
    font-family: 'Press Start 2P' !important;
    color: #ede5f1;
    text-decoration: none;

    border: 5px solid #ede5f1;
    padding: 10px;
    text-shadow: none !important;
}

.btn-game:hover {
    text-decoration: none;
    /* color: #ede5f1; */
    color: #25003d !important;
    background-color: #ede5f1;
    text-shadow: none !important;

}
/* animacion de iconos del footer */
.image-animation{
    display: block;

    transform: scale(1);
    z-index: 1;
    transition: 1s;
}

.image-animation:hover{
    transform: scale(1.2);
    z-index: 1;
    transition: 1s;
}