/* aqui pon los botones */
.flexs {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* aqui pon los botones */
.btn-color, .btn-color-small {
    color: #ede5f1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    background-color: #2953A6;
    border: 2px solid #2953A6;
    border-radius: 7px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden; 
}

.btn-color::after, .btn-color-small::after {  
    z-index: -1;
    background-color: #FF3575;
    background-image: linear-gradient(225deg, #FF3575 0%, #7500fa 50%, #1100ff 100%);
    position: absolute;
    content: "";
    transition: transform 0.5s ease;
    top: -300px;
    left: 0px;
    width: 600px;
    height: 650px;
}

.btn-color:hover, .btn-color-small:hover {
    transform: translate(0, -6px);
}

.btn-color-r:hover::after, .btn-color-small:hover::after {
    transform: rotate(150deg);
}

/* -------------------------------------------------------- */
.btn-color-small {
    padding: 5px 10px;
}

.btn-color{
    padding: 20px 10px;
} 