.slick-slide {
    margin: 3px;
}

.banners-carousel img, .carousel-games img, .descripcion-fondo {
    width: 100%;
}

.banners-carousel img, .carousel-games img, .comentario, .comentario-texto {
    border-radius: 10px;
}

/* El efecto hover en los videojuegos */
.hover-animation, .descripcion-contenedor {
    position: relative;
}

.miniatura-equipo {
    z-index: -1;
}

.miniatura-equipo, .descripcion {
    position: absolute;
}

.hover-animation img {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.hover-animation img.miniatura-videojuego:hover {
    opacity: 0;
}

.vista-previa-producto-texto {
    font-weight: 800;
    font-size: 1.17em;
    font-weight: bolder;
    color: #ede5f1;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

/* COMENTARIOS */
.comentario {
    height: 20vh;
}

.comentario-perfil, .perfil-inicio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.perfil-inicio{
    height: 10vh;
    width: 10vh;
}

.comentario-foto {
    width: 7vh;
}

.comentario-nombre {
    color: #ede5f1;
    font-family:  'Orbitron', sans-serif;
    font-size: 1.6rem;
    padding-left: 0.5rem;
}

.comentario-texto{
    height: 10vh;
    overflow: hidden;
}

.comentario-texto p{
    margin: 0.8rem 1.5rem;
}