.wrapper {
    width: 100%;
    text-align: center;
}

.carousel {
    width: 100%;
    margin: 0px auto;
}

.slick-slide {
    margin: 10px;
}

.slick-slide img {
    width: 100%;
    color: #ede5f1;
    /* border: 2px solid #fff; */
}

.wrapper .slick-dots li button:before {
    font-size: 10 px;
    color: #ede5f1;
    /* color: white; */
}