

.hover-animation {
    position: relative;
    /* problema */
    height: 262px;
}

.hover-animation img {
    position: absolute;
    left: 0;

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.hover-animation img.img-front:hover {
    opacity: 0;
    cursor: pointer;
}