#footer{
    background-image: url(../assets/img/resources/footer.png);
    background-size: cover;
    background-position: 0px 80px;
    background-attachment: fixed;
}
.logo-footer{
    width: 100%;
    border-bottom: 2px dashed #FF3575;
    padding-bottom: 6px;
}
.op-andromeda{
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: .8rem;
    letter-spacing: 3px;
    text-align: center;
}
.rrss-icon{
    width: 6%;
    margin-top: 20px;
}
.texto-contacto{
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: -1px 1px #FF3575;
}
.texto-contacto-tel{
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 20px;
    text-shadow: -1px 1px #FF3575;
}
.contacto-icon{
    display: flex;
    margin: 0 auto;
    width: 26px;
    margin-top: 30px;
}
.titulo-listaFooter{
    margin-top: 40px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-shadow: -1px 1px #FF3575;
}
.lista-footer li{
    list-style-image: url(../assets/img/icons/checklist2.webp);
    margin-bottom: 5px;
}
.lista-footer li a{
    color: white;
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: 1px;
}