/* HEADER */
.bg-dark {
    background: linear-gradient(0deg, #ffffff00, #602085) !important;
}
.img-brand {
    height: 44px;
    image-rendering: pixelated;
    margin-left: 30px;
}
.navbar-brand {
    margin: 0px !important;
}
.icon-nav {
    height: 32px;
    image-rendering: pixelated;
}
.dropdown-item {
    font-family: 'Orbitron', sans-serif;
    color: #ede5f1 !important;
}
.dropdown-item:hover {
    background-color: transparent !important;
    text-shadow: 1px 1px 2px black, 0 0 1em #707aed, 0 0 0.2em #ede5f1;
}
.dropdown-menu {
    background: #602085 !important;
}
.textoMenu{
    padding-top: 10px;
}
.textoMenu a{
    font-family: orbitron, sans-serif;
    color: white;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 18px;
    margin-right: 40px;
}

/* FOOTER */
.color-footer{
    background-color: #3b1b53;
}
.img-footer2{
    width: 100%;
    opacity: 0%;
}
.img-footer{
    background-image: url(../assets/img/planeta-pixelart.webp);
    background-size: cover;
    background-position: top;
    image-rendering: pixelated;
}
.logo-footer{
    width: 100%;
    border-bottom: 2px dashed #FF3575;
    padding-bottom: 6px;
    image-rendering: pixelated;
}
.op-andromeda{
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: .8rem;
    letter-spacing: 3px;
    text-align: center;
}
.rrss-icon{
    width: 36px;
    margin-top: 20px;
    filter: grayscale(30%);
    image-rendering: pixelated;
}
.fx-zoom{
    display: block;

    transform: scale(1);
    z-index: 1;
    transition: .4s;
}
.fx-zoom:hover{
    transform: scale(1.2);
    z-index: 1;
    transition: 1s;
}
.titulo-listaFooter{
    margin-bottom: 10px;
    padding-left: 20px;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-shadow: -1px 1px #FF3575;
}
.lista-footer li{
    list-style-image: url(../assets/img/icons/checklist2.webp);
    margin-left: 20px;
    image-rendering: pixelated;
}
.lista-footer li a{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.footer-tel li{
    list-style-image: url(../assets/img/plantilla-icons/telefono.webp);
    image-rendering: pixelated;
}
.footer-tel li a{
    font-weight: 700;
    font-size: 1rem;
    text-align: end;
    letter-spacing: 3px;
    text-shadow: -1px 1px #FF3575;
    color: white;
}
.footer-email li{
    list-style-image: url(../assets/img/plantilla-icons/carta-color.webp);
    image-rendering: pixelated;
}
.footer-email li a{
    font-weight: 700;
    font-size: 1rem;
    text-align: end;
    letter-spacing: 1px;
    text-shadow: -1px 1px #FF3575;
    color: white;
}