/* HEADER */
.color-header{
    background: linear-gradient(0deg, #2953a61a  1%,  #0f1a85) !important;
}
.bg-dark  {
    /* background: linear-gradient(0deg, #2953a61a  1%,  #0f1a85) !important; */
    /* background-color: #0e00ce !important; */
    background-color: #0e00ce00 !important;
    /* box-shadow: -3px 3px 20px #0e00ce; */
}
.img-brand{
    width: 290px;
}
.navbar-brand{
    padding: 0px !important;
}
.icon-nav{
    height: 32px;
    image-rendering: pixelated;
}
.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    color: #ffffff !important;
}
.dropdown-item{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ffffff !important;
    cursor: pointer;
}
.dropdown-item:hover{
    background-color: transparent !important;
    text-shadow: 1px 1px 20px #FF3575, 0 0 1em #FF3575, 0 0 0.2em #FF3575;   
}
.dropdown-menu{
    background: #0f1a85!important;
    /* border: 2px solid #0e00ce; */
    box-shadow: -1px 1px 10px #0e00ce;
}

/* FOOTER */
#color-footer{
    background-color: #0f1a85;
}
#img-footer2{
    width: 100%;
    opacity: 0%;
}
#img-footer{
    background-image: url(../assets/img/planeta-pixelart.webp);
    background-size: cover;
    background-position: top;
    /* background-attachment: fixed; */
}
.logo-footer{
    width: 100%;
    border-bottom: 2px dashed #FF3575;
    padding-bottom: 6px;
}
.op-andromeda{
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: .8rem;
    letter-spacing: 3px;
    text-align: center;
}
.rrss-icon{
    width: 7%;
    margin-top: 20px;
    filter: grayscale(30%);
}
.fx-zoom{
    display: block;

    transform: scale(1);
    z-index: 1;
    transition: .4s;
}
.fx-zoom:hover{
    transform: scale(1.2);
    z-index: 1;
    transition: 1s;
}
.titulo-listaFooter{
    margin-bottom: 10px;
    padding-left: 20px;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-shadow: -1px 1px #FF3575;
}
.lista-footer li{
    list-style-image: url(../assets/img/icons/checklist2.webp);
    margin-bottom: 5px;
}
.lista-footer li a{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.footer-tel li{
    list-style-image: url(../assets/img/icons/telefono.png);
}
.footer-tel li a{
    font-weight: 700;
    font-size: 1rem;
    text-align: end;
    letter-spacing: 3px;
    text-shadow: -1px 1px #FF3575;
    color: white;
}
.footer-email li{
    list-style-image: url(../assets/img/icons/carta-color.png);
}
.footer-email li a{
    font-weight: 700;
    font-size: 1rem;
    text-align: end;
    letter-spacing: 1px;
    text-shadow: -1px 1px #FF3575;
    color: white;
}