.bg-dark {
    /* background: linear-gradient(90deg, rgb(0, 255, 55) 0%, rgba(38, 0, 255, 0)) !important; */
    /* background: linear-gradient(0deg, #181a35 100%, #ffffff ) !important; */
    background: linear-gradient(0deg,  #ffffff00, #3e287a) !important;
}

.dropdown-menu{
    /* background: linear-gradient(0deg,#ffffff00 , #3e287a, #ffffff00) !important; */
    background: #3e287a !important;
}

.img-brand{
    height: 64px;
}

.navbar-brand{
    padding: 0px !important;
}

.icon-nav{
    height: 32px;
    image-rendering: pixelated;
}

.navbar-dark .navbar-nav .nav-link{
    font-family: 'Orbitron', sans-serif;
    color: #ede5f1 !important; 
    text-shadow: 1px 1px 2px black, 0 0 1em #707aed, 0 0 0.2em #ede5f1; 
}

.dropdown-item{
    font-family: 'Orbitron', sans-serif;
    color: #ede5f1 !important;    
}

.dropdown-item:hover{
    background-color: transparent !important;
    /* background: #3e287a !important; */
    text-shadow: 1px 1px 2px black, 0 0 1em #707aed, 0 0 0.2em #ede5f1;   
}

/* footer */

/* .footer{
    background: linear-gradient(180deg,  #ffffff00, #3e287a) !important;
}
 */

.footer{
    background-image: url('../../public/assets/img/footer.png');
    background-size: 100%;
    image-rendering: pixelated;
    padding-top: 150px;
 }

 
