*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
:root{
    font-size: 16px;
}
body{
    background-color: #140714;
    background-image: url(../assets/img/stars_pixelart.webp);
    background-size: contain;
    background-attachment: fixed;
}

.fondo-color{
    background-color: #140714b9;
    box-shadow: 0px 0px 20px #140714;
}

/* PRELOADER */
#loader{
    height: 1500px;
    width: 1500px;
    background-color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
}
#loader img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* SCROLLBAR */
::-webkit-scrollbar{
    width: 12px;
} 
::-webkit-scrollbar-thumb{
    background: linear-gradient(#FF3575, #9C8AFF);
}

/* SLIDER PRODUCTO */
.color-slider{
    background-color: #011640;
    border-radius: 8px;
    border: 2px groove #9C8AFF;
    box-shadow: 0px 0px 20px #9C8AFF;
}

/* NOMBRE - PRECIO */
h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    letter-spacing: 1px;
    -webkit-text-stroke: .5px #011640; 
    text-shadow: -3px 4px #FF3575;
}
.precio-normal{
    font-weight: 800;
    font-size: 1rem;
    text-decoration:line-through;
    color: #A8A8A8;
    margin-bottom: -10px;
    margin-top: 30px;
}
.precio-oferta{
    font-weight: 800;
    font-size: 2.2rem;
}
.mensualidad{
    font-weight: 500;
    font-size: .9rem;
    letter-spacing: 1px;
}

/* BOTON COMPRA */
.btn-comprar {
    display: inline-flex;
    width: 90%;
    height: 70px;
    align-items: center;
    justify-content: center;
    background-color: #2953A6;
    border: 2px solid #2953A6;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-top: 20px;
    position: relative;
}
.btn-comprar{
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-comprar::after{
    content: "";
    width: 600px;
    height: 650px;
    position: absolute;
    top: -300px;
    left: 0px;
    background-color: #FF3575;
    background-image: linear-gradient(225deg, #FF3575 0%, #7500fa 50%, #1100ff 100%);
    z-index: -1;
    transition: transform 0.5s ease; 
}
.btn-comprar:hover{
    transform: translate(0,-6px);
}
.btn-comprar:hover::after{
    transform: rotate(150deg);
}

/* BOTON AGREGAR */
.btn-agregar {
    display: inline-flex;
    width: 90%;
    height: 70px;
    align-items: center;
    justify-content: center;
    background-color: #356bd8;
    border: 2px solid #356bd8;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-top: 20px;
    position: relative; 
}
.btn-agregar{
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-agregar::after{
    content: "";
    width: 600px;
    height: 650px;
    position: absolute;
    top: -300px;
    left: 0px;
    background-color: #FF3575;
    background-image: linear-gradient(225deg, #FF3575 0%, #7500fa 50%, #1100ff 100%);
    z-index: -1;
    transition: transform 0.5s ease; 
}
.btn-agregar:hover{
    transform: translate(0,-6px);
}
.btn-agregar:hover::after{
    transform: rotate(150deg);
}

 /* CARACTERISTICAS */
 h4{
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
.descripcion-pc{
    text-align: justify;
    font-weight: 400;
    font-size: .9rem;
}
.texto-personalizar{
    font-weight: 400;
    font-size: .8rem;
    letter-spacing: 1px;
}
.lista li{
    font-weight: 300;
    font-size: .9rem;
    list-style-image: url(../assets/img/icons/checklist.webp);
}

/* RAM - DISCO DURO */
h3{
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: -2px;
 }
.texto-input{
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;;
}
.boton-input{
    accent-color: #FF3575;
}
.ram{
    background-color: #011640;
    display: inline-block;
    border: 2px solid rgb(156, 138, 255);
    border-radius: 8px;
    padding: 18px 21px 8px 21px;
    margin-right: 4px;
    margin-bottom: 10px;
}
.ram-2{
    background-color: #011640;
    display: inline-block;
    border: 2px solid rgb(156, 138, 255);
    border-radius: 8px;
    padding: 18px 19px 8px 20px;
    margin-right: 4px;
    margin-bottom: 40px;
}
.disc{
    background-color: #011640;
    display: inline-block;
    border: 2px solid rgb(156, 138, 255);
    border-radius: 8px;
    padding: 18px 28px 8px 28px;
    margin-right: 4px;
    margin-bottom: 10px;
}
.disc-2{
    background-color: #011640;
    display: inline-block;
    border: 2px solid rgb(156, 138, 255);
    border-radius: 8px;
    padding: 18px 26px 8px 27px;
    margin-right: 4px;
    margin-bottom: 40px;
}
.titulo{
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0px;
}
.subtitulo{
    font-weight: 300;
    font-size: .8rem;
}
/* OTROS PRODUCTOS */
h2{
    font-weight: 900;
    font-size: 1.9rem;
    letter-spacing: 1px;
    text-shadow: -1px 2px #FF3575;
}
.cart-otros-productos{
    width: 248px; 
    height: auto;
    padding: 24px;
    background-color: #011640;
    border: 2px groove rgb(156, 138, 255);
    box-shadow: 0px 0px 6px #9C8AFF;
    border-radius: 8px;
    display: inline-block;
    margin-right: 25px;
}
.img-otros-productos{
    width: 90%;
    display: flex;
    margin: 0 auto;
}
.nombre-otrosProductos{
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
    /* margin-top: 36px; */
    margin-bottom: 16px;
    /* padding-right: 30px; */
}
.precio-otrosProductos{
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-align: end;
}
/* BOTON OTROS PRODUCTOS */
.btn-agregar2 {
    display: inline-flex;
    position: relative;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #356bd8;
    border: 2px solid #356bd8;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 1px;
    display: flex;
}
.btn-agregar2{
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-agregar2::after{
    content: "";
    width: 600px;
    height: 600px;
    position: absolute;
    top: -300px;
    left: 0px;
    background-color: #FF3575;
    background-image: linear-gradient(225deg, #FF3575 0%, #7500fa 50%, #1100ff 100%);
    z-index: -1;
    transition: transform 0.5s ease; 
}
.btn-agregar2:hover{
    transform: translate(0,-6px);
}
.btn-agregar2:hover::after{
    transform: rotate(150deg);
}
.enlace-otrosProductos{
    text-align: end;
    letter-spacing: 1px;
    font-weight: 800;
}
.enlace-otrosProductos2{
    letter-spacing: 1px;
    font-weight: 800;
}