body{
    background-image: url('../../public/assets/img/background.png');
    /* background-repeat: no-repeat; */
    background-size: 100%;
    image-rendering: pixelated;
    margin: 0px;
    border: 0px;
    font-family: 'Orbitron';
}

h2{
    text-shadow: 1px 1px 2px black, 0 0 1em #707aed, 0 0 0.2em #ede5f1; 
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #ede5f1; 
}

.text{
    font-family: 'Montserrat' !important;;
    text-align: justify;
    color: #ede5f1;
}

.rrss-icon{
    height: 64px;
    image-rendering: pixelated;
}

.btn-game{
    font-family: 'Press Start 2P';
    color: rgb(231, 219, 219);
    text-decoration: none;
    border: 5px solid rgb(231, 219, 219);
    padding: 10px;
}
.btn-game:hover{
    text-decoration: none;
    /* color: #ede5f1; */
    color: #25003d;
    background-color: #ede5f1dc;
}

.logo-image{
    display: block;
    width: 100%;
    height: 100px;
    transform: scale(1);
    z-index: 1;
    transition: 1s;
}

.logo-image:hover{
    transform: scale(1.2);
    z-index: 1;
    transition: 1s;
}

.display-logos{
    display: flex;    
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer{
    width: 100%;    /* se arregla el desbordamiento del footer (Lalo) */
}
/* ============ start---Backgroud__input ============ */

.input__bg{
    color: #ea3a76; 
    border: none;
    background: linear-gradient(180deg, #c04bf280 28.33%, #6232a680 71.67%);;
}

.input__bg::placeholder { 
    color: #ffffff60; 
    font-style: italic;
}

/* ============ end---Backgroud__input ============ */

/* ============ start---contact us ============ */
.contact{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.footer{
    width: 100%;
}

.contact-textarea{
    resize: none;
}

.contact-h2{
    text-align: center;
}

.contact__button{
    text-align: center;
}

/* ============ end---contact us ============ */

<<<<<<< HEAD
.table-cart{
    margin-left: 400px;
    text-align: center;
}

.table-header-cart{
    margin: 100px;
}

=======


/*==========About us========*/
.textA
{
    font-family: 'Montserrat' !important;;
    text-align: justify;
    color: #ede5f1;
    margin: auto;
}

.textM
{
    font-family: 'Montserrat' !important;;
    text-align: justify;
    color: #ede5f1;
    margin-left: auto;
}

.textV
{
    font-family: 'Montserrat' !important;;
    text-align: justify;
    color: #ede5f1;
    margin-right: auto;
}
>>>>>>> a456461c903e7d4c5c362215e4cb41d05fcdbc80
