body{
    background-image: url('../../public/assets/img/background.png');
    /* background-repeat: no-repeat; */
    background-size: 100%;
    image-rendering: pixelated;
    margin: 0px;
    border: 0px;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}

h1,h2, h3, h4, h5, a, th{
    font-family: 'Orbitron', sans-serif !important;
    text-align: center !important;;
}

h1, h2{
    text-shadow: 1px 1px 2px black, 0 0 1em #707aed, 0 0 0.2em #ffffff !important;
}

a, p, h1, h2, h3, h4, h5, th, td, label, .white-text{
    color: #ede5f1 !important;
}

p, td, label, .montserrat-text{
    font-family: 'Montserrat' !important;
}

a:hover{
    text-shadow: 1px 1px 2px black, 0 0 1em #707aed, 0 0 0.2em #ede5f1 !important; 
    color: #ede5f1 !important;
}

li{
    color: #ede5f1;
}

th{
    color: #ede5f1;
}

.image-animation{
    display: block;

    transform: scale(1);
    z-index: 1;
    transition: 1s;
}

.image-animation:hover{
    transform: scale(1.2);
    z-index: 1;
    transition: 1s;
}

::-webkit-scrollbar{
    width: 12px;
} 
::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(156, 138, 255), #FF3575);
}

.btn-game{
    font-family: 'Press Start 2P' !important;
    color: #ede5f1;
    text-decoration: none;
    border: 5px solid #ede5f1;
    padding: 10px;
    text-shadow: none !important;
}
.btn-game:hover{
    text-decoration: none;
    /* color: #ede5f1; */
    color: #25003d !important;
    background-color: #ede5f1;
    text-shadow: none !important;
}

.text-muted{
    color: #5a525e !important;
}

/* .contact{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
} */


/* 
.contact-textarea{
    resize: none;
}

.contact-h2{
    text-align: center;
}

.contact__button{
    text-align: center;
}
 */
/* ============ end---contact us ============ */

/* <<<<<<< HEAD
.table-cart{
    margin-left: 400px;
    text-align: center;
}

.table-header-cart{
    margin: 100px;
}

=======
 */