
/*
body
{
    width: 100%;
    height: 100%;
    background-color: #3d1572;

}

.menu
{
    margin:5% 12%;
    background: transparent;
}

a, #showall
{
    display: inline-block;
    margin: 0 1%;
    padding: 3%;
    border-radius: 11%;
    -webkit-box-shadow: 0 3px 12px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 3px 12px 3px rgba(0,0,0,0.2);
    box-shadow: 0 3px 12px 3px rgba(0,0,0,0.2);
}
*/
a:nth-child(1)
{
    /*background-color: red;*/
    cursor: pointer; 
    /*color:blue;*/
}

a:nth-child(2)
{
    /*background-color: red;*/
    cursor: pointer; 
    /*color:blue;*/
}

a:nth-child(3)
{
    /*background-color: red;*/
    cursor: pointer; 
    /*color:blue;*/
}

a:nth-child(4)
{
    /*background-color: red;*/
    cursor: pointer; 
    /*color:blue;*/
}

.target_box
{
    margin: 6% 10%;
    background: transparent;

}
