
.fondoTeam
{
    background-image: url('/public/assets/img/other/Usuario.png');
    display: flex;
    background-size: cover;
    text-align: center;
    align-items: center;
}

.backTeam
{
    background-image: url('/public/assets/img/other/vs.jpg');
    /*margin: 0 auto; /*para ponerle un MARGEN en todos los dados en la parte EXTERNA del bloque*/
    /*font-size: 60px; /* para aumentar el TAMAÑO de la LETRA*/
    /*padding: 20px; /*para hacer un MARGEN dentro del BLOQUE*/
     /*border-radius: 80px;/*para CURVEAR EL BORDE, se puede hacer un CIRCULO o un OVALO*/
     width: 100%;
    text-align: center;
    /*background-size: cover;*/
    display: flex;

}

.bordeTeam
{
    border-radius: 80px;
}

.cardTeam
{  
    border: 10px  solid#3d1572;
    background: #3d1572;
    box-shadow: 0 0 40px #3d1572, 0 0 40px #3d1572, 0 0 80px #3d1572;
    height: 500px;
    transition: 0.2s;
}

.cardmuestra
{
    height: 500px;
    text-align: center;
    width: 300px;
    display: flex;
    margin: 20px;
}

