*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #140714;
    color: white;
}

/* TEMPORAL */

.texto {
    padding: 200px;
    text-align: justify;
    font-family: Orbitron;
    font-weight: 900;
}


/* PRELOADER */
#loader{
    height: 1500px;
    width: 1500px;
    background-color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
}
#loader img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* SCROLLBAR */
::-webkit-scrollbar{
    width: 11px;
} 
::-webkit-scrollbar-thumb{
    background: linear-gradient(#2953A6, #FF3575);
}


