*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #140714;
}
/* PRELOADER */
#loader{
    height: 1500px;
    width: 1500px;
    background-color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
}
#loader img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* SCROLLBAR */
::-webkit-scrollbar{
    width: 12px;
} 
::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(156, 138, 255), #FF3575);
}

/* SLIDER PRODUCTO */
#color-slider{
    background-color: #011640;
    border: 2px solid rgb(156, 138, 255);
    border-radius: 9px;
}

/* NOMBRE - PRECIO */
h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    -webkit-text-stroke: .5px #011640; 
    text-shadow: -3px 4px #FF3575;
}
.precio-normal{
    font-weight: 800;
    font-size: 1rem;
    text-decoration:line-through;
    color: #A8A8A8;
    margin-bottom: -10px;
    margin-top: 30px;
}
.precio-oferta{
    font-weight: 800;
    font-size: 2.5rem;
}
.mensualidad{
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
}

/* BOTON COMPRA */
.btn_comprar {
    position: relative;
    background-color: #2953A6;
    border: 2px solid #2953A6;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 16px 90px;
    margin-top: 20px;
}
.btn_comprar{
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn_comprar::after{
    content: "";
    width: 600px;
    height: 600px;
    position: absolute;
    top: -300px;
    left: 0px;
    background-color: #FF3575;
    background-image: linear-gradient(225deg, #FF3575 0%, #7500fa 50%, #1100ff 100%);
    z-index: -1;
    transition: transform 0.5s ease; 
}
.btn_comprar:hover{
    transform: translate(0,-6px);
}
.btn_comprar:hover::after{
    transform: rotate(150deg);
}

/* BOTON AGREGAR */
.btn_agregar {
    position: relative;
    background-color: #356bd8;
    border: 2px solid #356bd8;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 18px;
    padding: 16px 72px;
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 1px; 
}
.btn_agregar{
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn_agregar::after{
    content: "";
    width: 600px;
    height: 600px;
    position: absolute;
    top: -300px;
    left: 0px;
    background-color: #FF3575;
    background-image: linear-gradient(225deg, #FF3575 0%, #7500fa 50%, #1100ff 100%);
    z-index: -1;
    transition: transform 0.5s ease; 
}
.btn_agregar:hover{
    transform: translate(0,-6px);
}
.btn_agregar:hover::after{
    transform: rotate(150deg);
}

 /* CARACTERISTICAS */
 h2{
     font-weight: 800;
     font-size: 1.6rem;
     letter-spacing: 1px;
 }
 h3{
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: -2px;
 }
.descripcion-pc{
    text-align: justify;
    font-weight: 500;
    font-size: .9rem;
}
.texto-personalizar{
    font-weight: 400;
    font-size: .8rem;
    letter-spacing: 1px;
}
#lista li{
    font-weight: 300;
    font-size: .9rem;
    list-style-image: url(../assets/img/icons/checklist.webp);
}

/* RAM - DISCO DURO */
.texto-input{
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;;
}
.ram{
    background-color: #011640;
    display: inline-block;
    border: 2px solid rgb(156, 138, 255);
    border-radius: 9px;
    padding: 18px 21px 8px 21px;
    margin-right: 18px;
    margin-bottom: 40px;
}
.disc{
    background-color: #011640;
    display: inline-block;
    border: 2px solid rgb(156, 138, 255);
    border-radius: 9px;
    padding: 18px 28px 8px 28px;
    margin-right: 18px;
    margin-bottom: 40px;
}
.titulo{
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0;
}
.subtitulo{
    font-weight: 300;
    font-size: .8rem;
}

/* OTROS PRODUCTOS */
#cart-otros-productos{
    background-color: #011640;
    border: 2px solid rgb(156, 138, 255);
    border-radius: 8px;
    display: inline-block;
}

.img-otros-productos{
    width: 120px;
    display: flex;
    margin: 0 auto;
}
.nombre-otrosProductos{
    font-weight: 600;
    font-size: 1rem;
    margin-top: 4%;
    margin-bottom: 2%;
}
.precio-otrosProductos{
    font-weight: 800;
    font-size: 1rem;
    text-align: end;
    margin-bottom: 8%;
    letter-spacing: 1px;
}


/* BOTON OTROS PRODUCTOS */
.btn-agregar2 {
    position: relative;
    background-color: #356bd8;
    border: 2px solid #356bd8;
    border-radius: 7px;
    cursor: pointer;
    padding: 8px 40px;
    font-weight: 800;
    font-size: .8rem;
    letter-spacing: 1px;
    display: flex;
    margin: 2% auto; 
}
.btn-agregar2{
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-agregar2::after{
    content: "";
    width: 600px;
    height: 600px;
    position: absolute;
    top: -300px;
    left: 0px;
    background-color: #FF3575;
    background-image: linear-gradient(225deg, #FF3575 0%, #7500fa 50%, #1100ff 100%);
    z-index: -1;
    transition: transform 0.5s ease; 
}
.btn-agregar2:hover{
    transform: translate(0,-6px);
}
.btn-agregar2:hover::after{
    transform: rotate(150deg);
}

